In [19]:
import pandas as pd
import numpy as np

In [20]:
dados_totais = pd.read_csv('./data/datasus_SIH.csv', encoding='cp850', sep=';', engine='python')
dados_totais

,Municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2014,dias_2015,dias_2016,dias_2017,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total
0,110001 ALTA FLORESTA D'OESTE,7.254870e+05,7.608883e+05,7.241162e+05,6.262698e+05,6.263432e+05,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,...,5508.0,5567.0,4671.0,4614.0,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0
1,110002 ARIQUEMES,3.708151e+06,3.463929e+06,3.973057e+06,4.382049e+06,4.502478e+06,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,...,14364.0,15934.0,16348.0,17580.0,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0
2,110003 CABIXI,8.986483e+04,8.940387e+04,9.218784e+04,1.002236e+05,9.738775e+04,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,...,646.0,718.0,751.0,739.0,717.0,778.0,689.0,627.0,618.0,6965.0
3,110004 CACOAL,5.081347e+06,7.392915e+06,7.533927e+06,9.580908e+06,1.005418e+07,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,...,53025.0,58399.0,67645.0,70190.0,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0
4,110005 CEREJEIRAS,5.226433e+05,4.911237e+05,5.659651e+05,4.833086e+05,4.461848e+05,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,...,4154.0,4319.0,4014.0,3986.0,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,MUNICIPIO IGNORADO DF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5595,530010 BRASILIA,7.455151e+07,7.163232e+07,6.447170e+07,8.312261e+07,9.664232e+07,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,...,436627.0,423514.0,464357.0,528581.0,1308823.0,1324112.0,1164460.0,1279779.0,1320261.0,8711175.0
5596,Total,1.258605e+10,1.325714e+10,1.367493e+10,1.388359e+10,1.441007e+10,1.510639e+10,1.581605e+10,1.638552e+10,2.237367e+10,...,63185077.0,62987730.0,62052126.0,61560115.0,62859674.0,63968481.0,57012580.0,63867782.0,65237649.0,626173115.0
5597,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
print(type(dados_totais))
print('---------')
print(dados_totais.shape)
print('---------')
print(dados_totais.dtypes)

<class 'pandas.core.frame.DataFrame'>
---------
(5599, 155)
---------
Municipio      object
valor_2013    float64
valor_2014    float64
valor_2015    float64
valor_2016    float64
               ...
dias_2019     float64
dias_2020     float64
dias_2021     float64
dias_2022     float64
dias_Total    float64
Length: 155, dtype: object

In [22]:
# Renomear coluna do município
dados_totais = dados_totais.rename(columns={'Municipio': 'municipio'})

dados_totais

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2014,dias_2015,dias_2016,dias_2017,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total
0,110001 ALTA FLORESTA D'OESTE,7.254870e+05,7.608883e+05,7.241162e+05,6.262698e+05,6.263432e+05,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,...,5508.0,5567.0,4671.0,4614.0,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0
1,110002 ARIQUEMES,3.708151e+06,3.463929e+06,3.973057e+06,4.382049e+06,4.502478e+06,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,...,14364.0,15934.0,16348.0,17580.0,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0
2,110003 CABIXI,8.986483e+04,8.940387e+04,9.218784e+04,1.002236e+05,9.738775e+04,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,...,646.0,718.0,751.0,739.0,717.0,778.0,689.0,627.0,618.0,6965.0
3,110004 CACOAL,5.081347e+06,7.392915e+06,7.533927e+06,9.580908e+06,1.005418e+07,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,...,53025.0,58399.0,67645.0,70190.0,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0
4,110005 CEREJEIRAS,5.226433e+05,4.911237e+05,5.659651e+05,4.833086e+05,4.461848e+05,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,...,4154.0,4319.0,4014.0,3986.0,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,MUNICIPIO IGNORADO DF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5595,530010 BRASILIA,7.455151e+07,7.163232e+07,6.447170e+07,8.312261e+07,9.664232e+07,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,...,436627.0,423514.0,464357.0,528581.0,1308823.0,1324112.0,1164460.0,1279779.0,1320261.0,8711175.0
5596,Total,1.258605e+10,1.325714e+10,1.367493e+10,1.388359e+10,1.441007e+10,1.510639e+10,1.581605e+10,1.638552e+10,2.237367e+10,...,63185077.0,62987730.0,62052126.0,61560115.0,62859674.0,63968481.0,57012580.0,63867782.0,65237649.0,626173115.0
5597,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# tirar as linhas que contenham municipio ignorado.
dados_totais = dados_totais[dados_totais['municipio'].apply(lambda x: x is not None and 'MUNICIPIO IGNORADO' not in x)]
dados_totais

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2014,dias_2015,dias_2016,dias_2017,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total
0,110001 ALTA FLORESTA D'OESTE,7.254870e+05,7.608883e+05,7.241162e+05,6.262698e+05,6.263432e+05,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,...,5508.0,5567.0,4671.0,4614.0,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0
1,110002 ARIQUEMES,3.708151e+06,3.463929e+06,3.973057e+06,4.382049e+06,4.502478e+06,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,...,14364.0,15934.0,16348.0,17580.0,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0
2,110003 CABIXI,8.986483e+04,8.940387e+04,9.218784e+04,1.002236e+05,9.738775e+04,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,...,646.0,718.0,751.0,739.0,717.0,778.0,689.0,627.0,618.0,6965.0
3,110004 CACOAL,5.081347e+06,7.392915e+06,7.533927e+06,9.580908e+06,1.005418e+07,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,...,53025.0,58399.0,67645.0,70190.0,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0
4,110005 CEREJEIRAS,5.226433e+05,4.911237e+05,5.659651e+05,4.833086e+05,4.461848e+05,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,...,4154.0,4319.0,4014.0,3986.0,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5593,522230 VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5595,530010 BRASILIA,7.455151e+07,7.163232e+07,6.447170e+07,8.312261e+07,9.664232e+07,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,...,436627.0,423514.0,464357.0,528581.0,1308823.0,1324112.0,1164460.0,1279779.0,1320261.0,8711175.0
5596,Total,1.258605e+10,1.325714e+10,1.367493e+10,1.388359e+10,1.441007e+10,1.510639e+10,1.581605e+10,1.638552e+10,2.237367e+10,...,63185077.0,62987730.0,62052126.0,61560115.0,62859674.0,63968481.0,57012580.0,63867782.0,65237649.0,626173115.0
5597,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#tirei tbm as tres ultimas linhas
dados_totais = dados_totais.iloc[:-3]
dados_totais

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2014,dias_2015,dias_2016,dias_2017,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total
0,110001 ALTA FLORESTA D'OESTE,725487.04,760888.27,724116.20,626269.75,626343.21,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,...,5508.0,5567.0,4671.0,4614.0,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0
1,110002 ARIQUEMES,3708151.19,3463928.54,3973057.43,4382048.70,4502478.44,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,...,14364.0,15934.0,16348.0,17580.0,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0
2,110003 CABIXI,89864.83,89403.87,92187.84,100223.63,97387.75,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,...,646.0,718.0,751.0,739.0,717.0,778.0,689.0,627.0,618.0,6965.0
3,110004 CACOAL,5081347.01,7392914.64,7533927.08,9580907.92,10054183.76,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,...,53025.0,58399.0,67645.0,70190.0,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0
4,110005 CEREJEIRAS,522643.32,491123.65,565965.05,483308.62,446184.84,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,...,4154.0,4319.0,4014.0,3986.0,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,522200 VIANOPOLIS,423968.57,394169.84,324303.99,284435.18,288963.32,3.314020e+05,2.995028e+05,2.739463e+05,4.186292e+05,...,3287.0,2674.0,2601.0,2573.0,3078.0,2781.0,2609.0,2840.0,3607.0,29488.0
5591,522205 VICENTINOPOLIS,64744.19,65571.74,44772.18,39252.53,76204.07,1.041283e+05,1.272859e+05,1.406667e+05,1.568381e+05,...,370.0,362.0,307.0,477.0,635.0,705.0,747.0,534.0,545.0,5100.0
5592,522220 VILA BOA,51512.08,13115.73,9375.07,11457.24,24336.97,NaN,NaN,NaN,NaN,...,96.0,81.0,77.0,166.0,NaN,NaN,NaN,NaN,NaN,721.0
5593,522230 VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5595,530010 BRASILIA,74551513.14,71632316.27,64471697.15,83122612.98,96642322.18,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,...,436627.0,423514.0,464357.0,528581.0,1308823.0,1324112.0,1164460.0,1279779.0,1320261.0,8711175.0

In [25]:
# Separar o código do IBGE em uma coluna separada para usá-lo como key
dados_totais['cod_ibge'] = dados_totais['municipio'].str.split(" ", n=1, expand = True)[0]
dados_totais['municipio'] = dados_totais['municipio'].str.split(" ", n=1, expand = True)[1]
dados_totais.head(10)

C:\Users\miche\AppData\Local\Temp\ipykernel_4588\1643107165.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_totais['cod_ibge'] = dados_totais['municipio'].str.split(" ", n=1, expand = True)[0]
C:\Users\miche\AppData\Local\Temp\ipykernel_4588\1643107165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_totais['municipio'] = dados_totais['municipio'].str.split(" ", n=1, expand = True)[1]

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2015,dias_2016,dias_2017,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total,cod_ibge
0,ALTA FLORESTA D'OESTE,725487.04,760888.27,724116.20,626269.75,626343.21,653669.39,696173.92,480319.05,668243.67,...,5567.0,4671.0,4614.0,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0,110001
1,ARIQUEMES,3708151.19,3463928.54,3973057.43,4382048.70,4502478.44,4342873.72,4548936.72,7196513.03,14781878.61,...,15934.0,16348.0,17580.0,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0,110002
2,CABIXI,89864.83,89403.87,92187.84,100223.63,97387.75,80628.43,86190.75,76497.19,144919.85,...,718.0,751.0,739.0,717.0,778.0,689.0,627.0,618.0,6965.0,110003
3,CACOAL,5081347.01,7392914.64,7533927.08,9580907.92,10054183.76,11246364.82,11603201.67,8557084.62,11156551.85,...,58399.0,67645.0,70190.0,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0,110004
4,CEREJEIRAS,522643.32,491123.65,565965.05,483308.62,446184.84,460198.78,353857.08,286911.49,474608.34,...,4319.0,4014.0,3986.0,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0,110005
5,COLORADO DO OESTE,325078.21,306163.93,232823.31,218079.84,292923.87,264368.42,423628.29,218951.21,322547.31,...,2795.0,2417.0,2699.0,2783.0,2497.0,1583.0,1948.0,1810.0,23724.0,110006
6,CORUMBIARA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110007
7,COSTA MARQUES,51545.52,209932.96,55086.19,70431.22,123706.12,186081.30,121080.82,59412.47,65686.12,...,412.0,482.0,983.0,1513.0,805.0,504.0,659.0,815.0,8044.0,110008
8,ESPIGAO D'OESTE,470721.42,413204.14,460115.79,494452.79,520419.77,674577.39,757458.10,515591.00,569360.52,...,4593.0,4428.0,4899.0,6304.0,6289.0,3245.0,2711.0,3741.0,45733.0,110009
9,GUAJARAMIRIM,1153345.13,1219205.48,1228989.72,1059436.98,1433448.39,1374973.30,1250554.28,1408957.99,1566003.38,...,9102.0,8331.0,11186.0,10988.0,10091.0,8694.0,9575.0,10716.0,97091.0,110010

In [26]:
dados_totais['Cod_UF'] = dados_totais['cod_ibge'].str[:2]
dados_totais

C:\Users\miche\AppData\Local\Temp\ipykernel_4588\3186509524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_totais['Cod_UF'] = dados_totais['cod_ibge'].str[:2]

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2016,dias_2017,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total,cod_ibge,Cod_UF
0,ALTA FLORESTA D'OESTE,725487.04,760888.27,724116.20,626269.75,626343.21,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,...,4671.0,4614.0,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0,110001,11
1,ARIQUEMES,3708151.19,3463928.54,3973057.43,4382048.70,4502478.44,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,...,16348.0,17580.0,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0,110002,11
2,CABIXI,89864.83,89403.87,92187.84,100223.63,97387.75,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,...,751.0,739.0,717.0,778.0,689.0,627.0,618.0,6965.0,110003,11
3,CACOAL,5081347.01,7392914.64,7533927.08,9580907.92,10054183.76,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,...,67645.0,70190.0,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0,110004,11
4,CEREJEIRAS,522643.32,491123.65,565965.05,483308.62,446184.84,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,...,4014.0,3986.0,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0,110005,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,423968.57,394169.84,324303.99,284435.18,288963.32,3.314020e+05,2.995028e+05,2.739463e+05,4.186292e+05,...,2601.0,2573.0,3078.0,2781.0,2609.0,2840.0,3607.0,29488.0,522200,52
5591,VICENTINOPOLIS,64744.19,65571.74,44772.18,39252.53,76204.07,1.041283e+05,1.272859e+05,1.406667e+05,1.568381e+05,...,307.0,477.0,635.0,705.0,747.0,534.0,545.0,5100.0,522205,52
5592,VILA BOA,51512.08,13115.73,9375.07,11457.24,24336.97,NaN,NaN,NaN,NaN,...,77.0,166.0,NaN,NaN,NaN,NaN,NaN,721.0,522220,52
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522230,52
5595,BRASILIA,74551513.14,71632316.27,64471697.15,83122612.98,96642322.18,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,...,464357.0,528581.0,1308823.0,1324112.0,1164460.0,1279779.0,1320261.0,8711175.0,530010,53

In [27]:
dados_totais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 0 to 5595
Columns: 157 entries, municipio to Cod_UF
dtypes: float64(154), object(3)
memory usage: 6.7+ MB

In [28]:
# Criando UF e região
CondUF =  [(dados_totais['Cod_UF'] == '11'),
         (dados_totais["Cod_UF"] == '12'),
         (dados_totais["Cod_UF"] == '13'),
         (dados_totais["Cod_UF"] == '14'),
         (dados_totais["Cod_UF"] == '15'),
         (dados_totais["Cod_UF"] == '16'),
         (dados_totais["Cod_UF"] == '17'),
         (dados_totais["Cod_UF"] == '21'),
         (dados_totais["Cod_UF"] == '22'),
         (dados_totais["Cod_UF"] == '23'),
         (dados_totais["Cod_UF"] == '24'),
         (dados_totais["Cod_UF"] == '25'),
         (dados_totais["Cod_UF"] == '26'),
         (dados_totais["Cod_UF"] == '27'),
         (dados_totais["Cod_UF"] == '28'),
         (dados_totais["Cod_UF"] == '29'),
         (dados_totais["Cod_UF"] == '31'),
         (dados_totais["Cod_UF"] == '32'),
         (dados_totais["Cod_UF"] == '33'),
         (dados_totais["Cod_UF"] == '35'),
         (dados_totais["Cod_UF"] == '41'),
         (dados_totais["Cod_UF"] == '42'),
         (dados_totais["Cod_UF"] == '43'),
         (dados_totais["Cod_UF"] == '50'),
         (dados_totais["Cod_UF"] == '51'),
         (dados_totais["Cod_UF"] == '52'),
         (dados_totais["Cod_UF"] == '53')
         ]
          
UF_nomes = ['RO','AC','AM','RR','PA','AP','TO','MA','PI','CE','RN','PB','PE','AL','SE','BA','MG','ES','RJ','SP','PR','SC','RS','MS','MT','GO','DF']
dados_totais["UF"] = np.select(CondUF, UF_nomes, default="Error")

CondReg =  [(dados_totais['Cod_UF'] == '11') | (dados_totais["Cod_UF"] == '12') | (dados_totais["Cod_UF"] == '13') | (dados_totais["Cod_UF"] == '14') | (dados_totais["Cod_UF"] == '15') | (dados_totais["Cod_UF"] == '16') | (dados_totais["Cod_UF"] == '17'),
            (dados_totais["Cod_UF"] == '21') | (dados_totais["Cod_UF"] == '22') | (dados_totais["Cod_UF"] == '23') | (dados_totais["Cod_UF"] == '24') | (dados_totais["Cod_UF"] == '25') | (dados_totais["Cod_UF"] == '26') | (dados_totais["Cod_UF"] == '27') | (dados_totais["Cod_UF"] == '28') | (dados_totais["Cod_UF"] == '29'),
            (dados_totais["Cod_UF"] == '31') | (dados_totais["Cod_UF"] == '32') | (dados_totais["Cod_UF"] == '33') | (dados_totais["Cod_UF"] == '35'),
            (dados_totais["Cod_UF"] == '41') | (dados_totais["Cod_UF"] == '42') | (dados_totais["Cod_UF"] == '43'),
            (dados_totais["Cod_UF"] == '50') | (dados_totais["Cod_UF"] == '51') | (dados_totais["Cod_UF"] == '52') | (dados_totais["Cod_UF"] == '53')
           ]
            
Regiao_nomes = ['Norte','Nordeste','Sudeste','Sul','Centro-Oeste']
dados_totais["regiao"] = np.select(CondReg, Regiao_nomes, default="Error")
dados_totais

C:\Users\miche\AppData\Local\Temp\ipykernel_4588\2982754059.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_totais["UF"] = np.select(CondUF, UF_nomes, default="Error")
C:\Users\miche\AppData\Local\Temp\ipykernel_4588\2982754059.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_totais["regiao"] = np.select(CondReg, Regiao_nomes, default="Error")

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,...,dias_2018,dias_2019,dias_2020,dias_2021,dias_2022,dias_Total,cod_ibge,Cod_UF,UF,regiao
0,ALTA FLORESTA D'OESTE,725487.04,760888.27,724116.20,626269.75,626343.21,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,...,4940.0,5553.0,3294.0,3750.0,5047.0,48319.0,110001,11,RO,Norte
1,ARIQUEMES,3708151.19,3463928.54,3973057.43,4382048.70,4502478.44,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,...,15801.0,17258.0,16476.0,24510.0,20054.0,174617.0,110002,11,RO,Norte
2,CABIXI,89864.83,89403.87,92187.84,100223.63,97387.75,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,...,717.0,778.0,689.0,627.0,618.0,6965.0,110003,11,RO,Norte
3,CACOAL,5081347.01,7392914.64,7533927.08,9580907.92,10054183.76,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,...,77004.0,75790.0,53225.0,50888.0,68025.0,628115.0,110004,11,RO,Norte
4,CEREJEIRAS,522643.32,491123.65,565965.05,483308.62,446184.84,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,...,4084.0,3423.0,2399.0,2567.0,3196.0,36311.0,110005,11,RO,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,423968.57,394169.84,324303.99,284435.18,288963.32,3.314020e+05,2.995028e+05,2.739463e+05,4.186292e+05,...,3078.0,2781.0,2609.0,2840.0,3607.0,29488.0,522200,52,GO,Centro-Oeste
5591,VICENTINOPOLIS,64744.19,65571.74,44772.18,39252.53,76204.07,1.041283e+05,1.272859e+05,1.406667e+05,1.568381e+05,...,635.0,705.0,747.0,534.0,545.0,5100.0,522205,52,GO,Centro-Oeste
5592,VILA BOA,51512.08,13115.73,9375.07,11457.24,24336.97,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,721.0,522220,52,GO,Centro-Oeste
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,522230,52,GO,Centro-Oeste
5595,BRASILIA,74551513.14,71632316.27,64471697.15,83122612.98,96642322.18,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,...,1308823.0,1324112.0,1164460.0,1279779.0,1320261.0,8711175.0,530010,53,DF,Centro-Oeste

# dados de valores dos gastos

In [29]:
#criando um df so com os dados de valores
colunas = ['municipio', 'valor_2013', 'valor_2014', 'valor_2015', 'valor_2016', 'valor_2017', 'valor_2018', 'valor_2019', 'valor_2020', 'valor_2021', 'valor_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_valor=dados_totais.loc[:,colunas]
dados_valor

,municipio,valor_2013,valor_2014,valor_2015,valor_2016,valor_2017,valor_2018,valor_2019,valor_2020,valor_2021,valor_2022,cod_ibge,Cod_UF,UF,regiao
0,ALTA FLORESTA D'OESTE,725487.04,760888.27,724116.20,626269.75,626343.21,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,5.780542e+05,110001,11,RO,Norte
1,ARIQUEMES,3708151.19,3463928.54,3973057.43,4382048.70,4502478.44,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,6.742578e+06,110002,11,RO,Norte
2,CABIXI,89864.83,89403.87,92187.84,100223.63,97387.75,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,6.757487e+04,110003,11,RO,Norte
3,CACOAL,5081347.01,7392914.64,7533927.08,9580907.92,10054183.76,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,1.118933e+07,110004,11,RO,Norte
4,CEREJEIRAS,522643.32,491123.65,565965.05,483308.62,446184.84,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,4.355129e+05,110005,11,RO,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,423968.57,394169.84,324303.99,284435.18,288963.32,3.314020e+05,2.995028e+05,2.739463e+05,4.186292e+05,2.859632e+05,522200,52,GO,Centro-Oeste
5591,VICENTINOPOLIS,64744.19,65571.74,44772.18,39252.53,76204.07,1.041283e+05,1.272859e+05,1.406667e+05,1.568381e+05,1.212662e+05,522205,52,GO,Centro-Oeste
5592,VILA BOA,51512.08,13115.73,9375.07,11457.24,24336.97,NaN,NaN,NaN,NaN,NaN,522220,52,GO,Centro-Oeste
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522230,52,GO,Centro-Oeste
5595,BRASILIA,74551513.14,71632316.27,64471697.15,83122612.98,96642322.18,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,3.127588e+08,530010,53,DF,Centro-Oeste

In [30]:
# Removendo o prefixo "valor_" do nome das colunas de datas
# removendo ano de 2013

dados_valor = dados_valor.rename(columns=lambda x: x.replace('valor_', ''), inplace=False)

dados_valor = dados_valor.drop(columns=['2013'])
dados_valor

,municipio,2014,2015,2016,2017,2018,2019,2020,2021,2022,cod_ibge,Cod_UF,UF,regiao
0,ALTA FLORESTA D'OESTE,760888.27,724116.20,626269.75,626343.21,6.536694e+05,6.961739e+05,4.803190e+05,6.682437e+05,5.780542e+05,110001,11,RO,Norte
1,ARIQUEMES,3463928.54,3973057.43,4382048.70,4502478.44,4.342874e+06,4.548937e+06,7.196513e+06,1.478188e+07,6.742578e+06,110002,11,RO,Norte
2,CABIXI,89403.87,92187.84,100223.63,97387.75,8.062843e+04,8.619075e+04,7.649719e+04,1.449199e+05,6.757487e+04,110003,11,RO,Norte
3,CACOAL,7392914.64,7533927.08,9580907.92,10054183.76,1.124636e+07,1.160320e+07,8.557085e+06,1.115655e+07,1.118933e+07,110004,11,RO,Norte
4,CEREJEIRAS,491123.65,565965.05,483308.62,446184.84,4.601988e+05,3.538571e+05,2.869115e+05,4.746083e+05,4.355129e+05,110005,11,RO,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,394169.84,324303.99,284435.18,288963.32,3.314020e+05,2.995028e+05,2.739463e+05,4.186292e+05,2.859632e+05,522200,52,GO,Centro-Oeste
5591,VICENTINOPOLIS,65571.74,44772.18,39252.53,76204.07,1.041283e+05,1.272859e+05,1.406667e+05,1.568381e+05,1.212662e+05,522205,52,GO,Centro-Oeste
5592,VILA BOA,13115.73,9375.07,11457.24,24336.97,NaN,NaN,NaN,NaN,NaN,522220,52,GO,Centro-Oeste
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522230,52,GO,Centro-Oeste
5595,BRASILIA,71632316.27,64471697.15,83122612.98,96642322.18,2.331153e+08,2.398669e+08,2.653910e+08,3.382575e+08,3.127588e+08,530010,53,DF,Centro-Oeste

In [31]:
# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_valor = pd.melt(dados_valor, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'], var_name='ano', value_name='gastos')

dados_valor = dados_valor.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_valor

,municipio,cod_ibge,cod_uf,uf,regiao,ano,gastos
0,ALTA FLORESTA D'OESTE,110001,11,RO,Norte,2014,7.608883e+05
1,ARIQUEMES,110002,11,RO,Norte,2014,3.463929e+06
2,CABIXI,110003,11,RO,Norte,2014,8.940387e+04
3,CACOAL,110004,11,RO,Norte,2014,7.392915e+06
4,CEREJEIRAS,110005,11,RO,Norte,2014,4.911237e+05
...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,Centro-Oeste,2022,2.859632e+05
50126,VICENTINOPOLIS,522205,52,GO,Centro-Oeste,2022,1.212662e+05
50127,VILA BOA,522220,52,GO,Centro-Oeste,2022,NaN
50128,VILA PROPICIO,522230,52,GO,Centro-Oeste,2022,NaN
50129,BRASILIA,530010,53,DF,Centro-Oeste,2022,3.127588e+08

In [32]:
# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_valor = preprocess_columns_str(dados_valor, colunas_a_preprocessar)

dados_valor

,municipio,cod_ibge,cod_uf,uf,regiao,ano,gastos
0,ALTA FLORESTA D'OESTE,110001,11,RO,NORTE,2014,7.608883e+05
1,ARIQUEMES,110002,11,RO,NORTE,2014,3.463929e+06
2,CABIXI,110003,11,RO,NORTE,2014,8.940387e+04
3,CACOAL,110004,11,RO,NORTE,2014,7.392915e+06
4,CEREJEIRAS,110005,11,RO,NORTE,2014,4.911237e+05
...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,CENTRO-OESTE,2022,2.859632e+05
50126,VICENTINOPOLIS,522205,52,GO,CENTRO-OESTE,2022,1.212662e+05
50127,VILA BOA,522220,52,GO,CENTRO-OESTE,2022,NaN
50128,VILA PROPICIO,522230,52,GO,CENTRO-OESTE,2022,NaN
50129,BRASILIA,530010,53,DF,CENTRO-OESTE,2022,3.127588e+08

In [33]:
# salvando base tratada

dados_valor.to_excel('./dados_tratados/gastos_hospitalares.xlsx', index=False)  #salvar em excel

# dados mortalidade

In [34]:
#criando um df so com os dados de mortalidade
colunas = ['municipio', 'mortalidade_2013', 'mortalidade_2014', 'mortalidade_2015', 'mortalidade_2016', 'mortalidade_2017', 'mortalidade_2018', 'mortalidade_2019', 'mortalidade_2020', 'mortalidade_2021', 'mortalidade_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_mortalidade=dados_totais.loc[:,colunas]
dados_mortalidade

,municipio,mortalidade_2013,mortalidade_2014,mortalidade_2015,mortalidade_2016,mortalidade_2017,mortalidade_2018,mortalidade_2019,mortalidade_2020,mortalidade_2021,mortalidade_2022,cod_ibge,Cod_UF,UF,regiao
0,ALTA FLORESTA D'OESTE,0.40,0.35,0.22,0.31,0.45,0.59,0.58,1.44,2.02,1.05,110001,11,RO,Norte
1,ARIQUEMES,2.69,2.57,2.37,3.32,2.58,2.97,2.84,4.39,8.54,3.23,110002,11,RO,Norte
2,CABIXI,0.35,NaN,NaN,NaN,0.34,1.13,0.35,2.97,0.51,2.21,110003,11,RO,Norte
3,CACOAL,3.48,3.59,4.66,7.39,7.45,5.89,5.47,6.10,5.78,4.50,110004,11,RO,Norte
4,CEREJEIRAS,0.06,0.37,0.40,0.15,0.43,0.50,0.60,0.79,2.45,0.79,110005,11,RO,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,NaN,1.03,0.49,2.25,1.16,1.20,0.90,1.38,0.81,1.44,522200,52,GO,Centro-Oeste
5591,VICENTINOPOLIS,0.54,NaN,0.85,NaN,1.70,1.19,0.98,3.22,3.67,2.33,522205,52,GO,Centro-Oeste
5592,VILA BOA,0.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522220,52,GO,Centro-Oeste
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522230,52,GO,Centro-Oeste
5595,BRASILIA,3.36,3.52,3.24,3.89,3.44,3.09,2.90,3.88,4.34,3.09,530010,53,DF,Centro-Oeste

In [35]:
# Removendo o prefixo "mortalidade_" do nome das colunas de datas
# removendo ano de 2013

dados_mortalidade = dados_mortalidade.rename(columns=lambda x: x.replace('mortalidade_', ''), inplace=False)

dados_mortalidade = dados_mortalidade.drop(columns=['2013'])
dados_mortalidade

,municipio,2014,2015,2016,2017,2018,2019,2020,2021,2022,cod_ibge,Cod_UF,UF,regiao
0,ALTA FLORESTA D'OESTE,0.35,0.22,0.31,0.45,0.59,0.58,1.44,2.02,1.05,110001,11,RO,Norte
1,ARIQUEMES,2.57,2.37,3.32,2.58,2.97,2.84,4.39,8.54,3.23,110002,11,RO,Norte
2,CABIXI,NaN,NaN,NaN,0.34,1.13,0.35,2.97,0.51,2.21,110003,11,RO,Norte
3,CACOAL,3.59,4.66,7.39,7.45,5.89,5.47,6.10,5.78,4.50,110004,11,RO,Norte
4,CEREJEIRAS,0.37,0.40,0.15,0.43,0.50,0.60,0.79,2.45,0.79,110005,11,RO,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,1.03,0.49,2.25,1.16,1.20,0.90,1.38,0.81,1.44,522200,52,GO,Centro-Oeste
5591,VICENTINOPOLIS,NaN,0.85,NaN,1.70,1.19,0.98,3.22,3.67,2.33,522205,52,GO,Centro-Oeste
5592,VILA BOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522220,52,GO,Centro-Oeste
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522230,52,GO,Centro-Oeste
5595,BRASILIA,3.52,3.24,3.89,3.44,3.09,2.90,3.88,4.34,3.09,530010,53,DF,Centro-Oeste

In [36]:
dados_mortalidade.columns

Index(['municipio', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'],
      dtype='object')

In [37]:
# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_mortalidade = pd.melt(dados_mortalidade, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'], var_name='ano', value_name='mortalidade')

dados_mortalidade = dados_mortalidade.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_mortalidade

,municipio,cod_ibge,cod_uf,uf,regiao,ano,mortalidade
0,ALTA FLORESTA D'OESTE,110001,11,RO,Norte,2014,0.35
1,ARIQUEMES,110002,11,RO,Norte,2014,2.57
2,CABIXI,110003,11,RO,Norte,2014,NaN
3,CACOAL,110004,11,RO,Norte,2014,3.59
4,CEREJEIRAS,110005,11,RO,Norte,2014,0.37
...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,Centro-Oeste,2022,1.44
50126,VICENTINOPOLIS,522205,52,GO,Centro-Oeste,2022,2.33
50127,VILA BOA,522220,52,GO,Centro-Oeste,2022,NaN
50128,VILA PROPICIO,522230,52,GO,Centro-Oeste,2022,NaN
50129,BRASILIA,530010,53,DF,Centro-Oeste,2022,3.09

In [38]:
# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_mortalidade = preprocess_columns_str(dados_mortalidade, colunas_a_preprocessar)

dados_mortalidade

,municipio,cod_ibge,cod_uf,uf,regiao,ano,mortalidade
0,ALTA FLORESTA D'OESTE,110001,11,RO,NORTE,2014,0.35
1,ARIQUEMES,110002,11,RO,NORTE,2014,2.57
2,CABIXI,110003,11,RO,NORTE,2014,NaN
3,CACOAL,110004,11,RO,NORTE,2014,3.59
4,CEREJEIRAS,110005,11,RO,NORTE,2014,0.37
...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,CENTRO-OESTE,2022,1.44
50126,VICENTINOPOLIS,522205,52,GO,CENTRO-OESTE,2022,2.33
50127,VILA BOA,522220,52,GO,CENTRO-OESTE,2022,NaN
50128,VILA PROPICIO,522230,52,GO,CENTRO-OESTE,2022,NaN
50129,BRASILIA,530010,53,DF,CENTRO-OESTE,2022,3.09

In [39]:
# salvando base tratada

dados_mortalidade.to_excel('./dados_tratados/mortalidade.xlsx', index=False)  #salvar em excel

# dados AIH - AUTORIZAÇÃO DE INTERNAÇÕES HOSPITALARES

In [40]:
#criando um df so com os dados de AIH
colunas = ['municipio', 'AIH_2013', 'AIH_2014', 'AIH_2015', 'AIH_2016', 'AIH_2017', 'AIH_2018', 'AIH_2019', 'AIH_2020', 'AIH_2021', 'AIH_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_AIH=dados_totais.loc[:,colunas]
dados_AIH

,municipio,AIH_2013,AIH_2014,AIH_2015,AIH_2016,AIH_2017,AIH_2018,AIH_2019,AIH_2020,AIH_2021,AIH_2022,cod_ibge,Cod_UF,UF,regiao
0,ALTA FLORESTA D'OESTE,2247.0,2296.0,2270.0,1938.0,1987.0,2046.0,2230.0,1247.0,1385.0,1913.0,110001,11,RO,Norte
1,ARIQUEMES,5505.0,5251.0,5790.0,6152.0,6364.0,5766.0,6055.0,5858.0,7575.0,7007.0,110002,11,RO,Norte
2,CABIXI,287.0,282.0,300.0,304.0,291.0,266.0,285.0,236.0,195.0,181.0,110003,11,RO,Norte
3,CACOAL,10187.0,10793.0,10174.0,11740.0,12314.0,13571.0,13272.0,9829.0,10506.0,12836.0,110004,11,RO,Norte
4,CEREJEIRAS,1547.0,1368.0,1482.0,1318.0,1161.0,1200.0,999.0,756.0,777.0,1013.0,110005,11,RO,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,VIANOPOLIS,1260.0,1165.0,1028.0,978.0,951.0,1079.0,1004.0,872.0,989.0,975.0,522200,52,GO,Centro-Oeste
5591,VICENTINOPOLIS,184.0,180.0,117.0,101.0,176.0,252.0,307.0,311.0,245.0,258.0,522205,52,GO,Centro-Oeste
5592,VILA BOA,139.0,35.0,31.0,39.0,67.0,NaN,NaN,NaN,NaN,NaN,522220,52,GO,Centro-Oeste
5593,VILA PROPICIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522230,52,GO,Centro-Oeste
5595,BRASILIA,63677.0,58027.0,61021.0,70995.0,84919.0,212227.0,230592.0,213478.0,230888.0,232063.0,530010,53,DF,Centro-Oeste

In [41]:
# Removendo o prefixo "AIH_" do nome das colunas de datas
# removendo ano de 2013

dados_AIH = dados_AIH.rename(columns=lambda x: x.replace('AIH_', ''), inplace=False)

dados_AIH = dados_AIH.drop(columns=['2013'])
dados_AIH

####

dados_AIH.columns


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_AIH = pd.melt(dados_AIH, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'], var_name='ano', value_name='aih_valor')

dados_AIH = dados_AIH.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_AIH


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_AIH = preprocess_columns_str(dados_AIH, colunas_a_preprocessar)

dados_AIH

# salvando base tratada

dados_AIH.to_excel('./dados_tratados/aih_valor.xlsx', index=False)  #salvar em excel

# AIH do grupo 1

In [42]:
#criando um df so com os dados de AIH do grupo 1 

colunas = ['municipio', 'AIH1_2014', 'AIH1_2015', 'AIH1_2016', 'AIH1_2017', 'AIH1_2018', 'AIH1_2019', 'AIH1_2020', 'AIH1_2021', 'AIH1_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_AIH1=dados_totais.loc[:,colunas]
dados_AIH1

# Removendo o prefixo "AIH1_" do nome das colunas de datas

dados_AIH1 = dados_AIH1.rename(columns=lambda x: x.replace('AIH1_', ''), inplace=False)

dados_AIH1

####

dados_AIH1.columns


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_AIH1 = pd.melt(dados_AIH1, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'], var_name='ano', value_name='aih_1')

dados_AIH1 = dados_AIH1.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_AIH1


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_AIH1 = preprocess_columns_str(dados_AIH1, colunas_a_preprocessar)

dados_AIH1

# salvando base tratada

dados_AIH1.to_excel('./dados_tratados/aih_1.xlsx', index=False)  #salvar em excel

# AIH do grupo 2

In [43]:
#criando um df so com os dados de AIH do grupo 1 
colunas = ['municipio', 'AIH2_2014', 'AIH2_2015', 'AIH2_2016', 'AIH2_2017', 'AIH2_2018', 'AIH2_2019', 'AIH2_2020', 'AIH2_2021', 'AIH2_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_AIH2=dados_totais.loc[:,colunas]


# Removendo o prefixo "AIH2_" do nome das colunas de datas

dados_AIH2 = dados_AIH2.rename(columns=lambda x: x.replace('AIH2_', ''), inplace=False)

dados_AIH2


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_AIH2 = pd.melt(dados_AIH2, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'], var_name='ano', value_name='aih_2')

dados_AIH2 = dados_AIH2.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_AIH2


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_AIH2 = preprocess_columns_str(dados_AIH2, colunas_a_preprocessar)

dados_AIH2

# salvando base tratada

dados_AIH2.to_excel('./dados_tratados/aih_2.xlsx', index=False)  #salvar em excel

# AIH do grupo 3

In [44]:
colunas = ['municipio', 'AIH3_2014', 'AIH3_2015', 'AIH3_2016', 'AIH3_2017', 'AIH3_2018', 'AIH3_2019', 'AIH3_2020', 'AIH3_2021', 'AIH3_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_AIH3=dados_totais.loc[:,colunas]

# Removendo o prefixo "AIH3_" do nome das colunas de datas

dados_AIH3 = dados_AIH3.rename(columns=lambda x: x.replace('AIH3_', ''), inplace=False)

dados_AIH3


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_AIH3 = pd.melt(dados_AIH3, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'],
                     var_name='ano', value_name='aih_3')

dados_AIH3 = dados_AIH3.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_AIH3


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_AIH3 = preprocess_columns_str(dados_AIH3, colunas_a_preprocessar)

dados_AIH3

# salvando base tratada

dados_AIH3.to_excel('./dados_tratados/aih_3.xlsx', index=False)  #salvar em excel

# AIH do grupo 4

In [45]:
colunas = ['municipio', 'AIH4_2014', 'AIH4_2015', 'AIH4_2016', 'AIH4_2017', 'AIH4_2018', 'AIH4_2019', 'AIH4_2020', 'AIH4_2021', 'AIH4_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_AIH4=dados_totais.loc[:,colunas]


# Removendo o prefixo "AIH4_" do nome das colunas de datas

dados_AIH4 = dados_AIH4.rename(columns=lambda x: x.replace('AIH4_', ''), inplace=False)

dados_AIH4


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_AIH4 = pd.melt(dados_AIH4, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'],
                     var_name='ano', value_name='aih_4')

dados_AIH4 = dados_AIH4.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_AIH4


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_AIH4 = preprocess_columns_str(dados_AIH4, colunas_a_preprocessar)

dados_AIH4

# salvando base tratada

dados_AIH4.to_excel('./dados_tratados/aih_4.xlsx', index=False)  #salvar em excel

# AIH do grupo 5

In [46]:
colunas = ['municipio', 'AIH5_2014', 'AIH5_2015', 'AIH5_2016', 'AIH5_2017', 'AIH5_2018', 'AIH5_2019', 'AIH5_2020', 'AIH5_2021', 'AIH5_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_AIH5=dados_totais.loc[:,colunas]



# Removendo o prefixo "AIH5_" do nome das colunas de datas

dados_AIH5 = dados_AIH5.rename(columns=lambda x: x.replace('AIH5_', ''), inplace=False)

dados_AIH5


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_AIH5 = pd.melt(dados_AIH5, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'],
                     var_name='ano', value_name='aih_5')

dados_AIH5 = dados_AIH5.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_AIH5


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_AIH5 = preprocess_columns_str(dados_AIH5, colunas_a_preprocessar)

dados_AIH5

# salvando base tratada

dados_AIH5.to_excel('./dados_tratados/aih_5.xlsx', index=False)  #salvar em excel

# Juntando todos AIH

In [47]:
# juntando bases 

merged_df = pd.merge(dados_AIH, dados_AIH1[['cod_ibge', 'ano', 'aih_1']],
                     on=['cod_ibge', 'ano'], how='left')

merged_df = pd.merge(merged_df, dados_AIH2[['cod_ibge', 'ano', 'aih_2']],
                     on=['cod_ibge', 'ano'], how='left')

merged_df = pd.merge(merged_df, dados_AIH3[['cod_ibge', 'ano', 'aih_3']],
                     on=['cod_ibge', 'ano'], how='left')

merged_df = pd.merge(merged_df, dados_AIH4[['cod_ibge', 'ano', 'aih_4']],
                     on=['cod_ibge', 'ano'], how='left')

merged_df = pd.merge(merged_df, dados_AIH5[['cod_ibge', 'ano', 'aih_5']],
                     on=['cod_ibge', 'ano'], how='left')


merged_df.to_excel('./dados_tratados/aih_total_grupos.xlsx', index=False)  #salvar em excel

merged_df

,municipio,cod_ibge,cod_uf,uf,regiao,ano,aih_valor,aih_1,aih_2,aih_3,aih_4,aih_5
0,ALTA FLORESTA D'OESTE,110001,11,RO,NORTE,2014,2296.0,NaN,NaN,2132.0,164.0,NaN
1,ARIQUEMES,110002,11,RO,NORTE,2014,5251.0,2.0,2.0,4069.0,1180.0,NaN
2,CABIXI,110003,11,RO,NORTE,2014,282.0,NaN,NaN,282.0,NaN,NaN
3,CACOAL,110004,11,RO,NORTE,2014,10793.0,1.0,1.0,7045.0,3747.0,NaN
4,CEREJEIRAS,110005,11,RO,NORTE,2014,1368.0,NaN,NaN,1167.0,201.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,CENTRO-OESTE,2022,975.0,NaN,NaN,975.0,NaN,NaN
50126,VICENTINOPOLIS,522205,52,GO,CENTRO-OESTE,2022,258.0,NaN,NaN,190.0,68.0,NaN
50127,VILA BOA,522220,52,GO,CENTRO-OESTE,2022,NaN,NaN,NaN,NaN,NaN,NaN
50128,VILA PROPICIO,522230,52,GO,CENTRO-OESTE,2022,NaN,NaN,NaN,NaN,NaN,NaN
50129,BRASILIA,530010,53,DF,CENTRO-OESTE,2022,232063.0,471.0,471.0,154589.0,75430.0,1573.0

# Dados dias

In [48]:
colunas = ['municipio', 'dias_2014', 'dias_2015', 'dias_2016', 'dias_2017', 'dias_2018', 'dias_2019', 'dias_2020', 'dias_2021', 'dias_2022', 'cod_ibge', 'Cod_UF', 'UF', 'regiao' ]
dados_dias=dados_totais.loc[:,colunas]



# Removendo o prefixo "dias_" do nome das colunas de datas

dados_dias = dados_dias.rename(columns=lambda x: x.replace('dias_', ''), inplace=False)

dados_dias


# tranformando a base no formato longo: colunas de anos virarão linhas
# renomeando colunas

dados_dias = pd.melt(dados_dias, id_vars=['municipio', 'cod_ibge', 'Cod_UF', 'UF', 'regiao'],
                     var_name='ano', value_name='dias')

dados_dias = dados_dias.rename(columns={'Cod_UF': 'cod_uf', 'UF': 'uf'})
dados_dias


# limpeza das colunas strings

import unicodedata

def preprocess_columns_str(df, column_names):
    for col in column_names:
        df[col] = df[col].apply(lambda x: unicodedata.normalize("NFD", x))
        df[col] = df[col].apply(lambda x: x.encode("ascii", "ignore").decode("utf-8"))
        df[col] = df[col].apply(lambda x: x.upper())
        df[col] = df[col].apply(lambda x: x.strip())
    return df

# Lista de colunas a serem pré-processadas
colunas_a_preprocessar = ['municipio', 'regiao']

# Aplicar a função para pré-processamento das colunas
dados_dias = preprocess_columns_str(dados_dias, colunas_a_preprocessar)

dados_dias

# salvando base tratada

dados_dias.to_excel('./dados_tratados/dias.xlsx', index=False)  #salvar em excel

In [49]:
dados_dias

,municipio,cod_ibge,cod_uf,uf,regiao,ano,dias
0,ALTA FLORESTA D'OESTE,110001,11,RO,NORTE,2014,5508.0
1,ARIQUEMES,110002,11,RO,NORTE,2014,14364.0
2,CABIXI,110003,11,RO,NORTE,2014,646.0
3,CACOAL,110004,11,RO,NORTE,2014,53025.0
4,CEREJEIRAS,110005,11,RO,NORTE,2014,4154.0
...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,CENTRO-OESTE,2022,3607.0
50126,VICENTINOPOLIS,522205,52,GO,CENTRO-OESTE,2022,545.0
50127,VILA BOA,522220,52,GO,CENTRO-OESTE,2022,NaN
50128,VILA PROPICIO,522230,52,GO,CENTRO-OESTE,2022,NaN
50129,BRASILIA,530010,53,DF,CENTRO-OESTE,2022,1320261.0

# dados populacao

### pop22

In [52]:
pop22 = pd.read_excel('./data/pop_2022_cod_6.xls', skiprows=1)
pop22

,UF,COD. UF,COD. MUNIC,COD_6,NOME DO MUNICÍPIO,POPULAÇÃO
0,RO,11.0,15.0,1100015.0,Alta Floresta D'Oeste,21558.0
1,RO,11.0,23.0,1100023.0,Ariquemes,100896.0
2,RO,11.0,31.0,1100031.0,Cabixi,5107.0
3,RO,11.0,49.0,1100049.0,Cacoal,92202.0
4,RO,11.0,56.0,1100056.0,Cerejeiras,15237.0
...,...,...,...,...,...,...
5600,(28) População judicial do município de Rodela...,NaN,NaN,NaN,NaN,NaN
5601,(29) População judicial do Município de Ribeir...,NaN,NaN,NaN,NaN,NaN
5602,(30) População judicial do Município de Planal...,NaN,NaN,NaN,NaN,NaN
5603,(31) População judicial do Município de Itacoa...,NaN,NaN,NaN,NaN,NaN
5604,(32) População judicial do Município de Santo ...,NaN,NaN,NaN,NaN,NaN

In [53]:
# deletando linhas sem dados, com descrições de fonte e observaçoes

pop22 = pop22.drop(pop22.index[pop22.index >= 5570])
pop22.tail(10)
pop22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UF                 5570 non-null   object
 1   COD. UF            5570 non-null   float64
 2   COD. MUNIC         5570 non-null   float64
 3   COD_6              5570 non-null   float64
 4   NOME DO MUNICÍPIO  5570 non-null   object
 5   POPULAÇÃO          5570 non-null   float64
dtypes: float64(4), object(2)
memory usage: 261.2+ KB

In [54]:
# transformando codigo ibge em string, renomeando coluna população
# retirando o sétimo digito de cod_6

pop22['COD_6'] = pop22['COD_6'].astype(int).astype(str)

pop22 = pop22.rename(columns={'POPULAÇÃO': '2022'})

pop22['cod_ibge'] = pop22['COD_6'].str.slice(stop=-1)
pop22

,UF,COD. UF,COD. MUNIC,COD_6,NOME DO MUNICÍPIO,2022,cod_ibge
0,RO,11.0,15.0,1100015,Alta Floresta D'Oeste,21558.0,110001
1,RO,11.0,23.0,1100023,Ariquemes,100896.0,110002
2,RO,11.0,31.0,1100031,Cabixi,5107.0,110003
3,RO,11.0,49.0,1100049,Cacoal,92202.0,110004
4,RO,11.0,56.0,1100056,Cerejeiras,15237.0,110005
...,...,...,...,...,...,...,...
5565,GO,52.0,22005.0,5222005,Vianópolis,14046.0,522200
5566,GO,52.0,22054.0,5222054,Vicentinópolis,8776.0,522205
5567,GO,52.0,22203.0,5222203,Vila Boa,3686.0,522220
5568,GO,52.0,22302.0,5222302,Vila Propício,5646.0,522230
5569,DF,53.0,108.0,5300108,Brasília,2923369.0,530010

### demais pops

In [55]:
# abrindo base e renomeando coluna municipio
#retirando as 4 ultimas linhas (fonte dos dados e notas explicativas)
# deletando ano de 2013

dados_pop = pd.read_csv('./data/ibge_cnv_popsvs.csv', encoding='cp850', sep=';', engine='python')

dados_pop = dados_pop.rename(columns={'MunicÝpio': 'municipio'})
dados_pop = dados_pop.iloc[:-4]

dados_pop = dados_pop.drop(columns='2013')
dados_pop

,municipio,2014,2015,2016,2017,2018,2019,2020,2021
0,110001 ALTA FLORESTA D'OESTE,24066.0,23835.0,23614.0,23392.0,23167.0,22945.0,22728.0,22516.0
1,110002 ARIQUEMES,99278.0,101048.0,102744.0,104441.0,106168.0,107863.0,109523.0,111148.0
2,110003 CABIXI,5951.0,5819.0,5693.0,5567.0,5438.0,5312.0,5188.0,5067.0
3,110004 CACOAL,82595.0,83164.0,83710.0,84257.0,84813.0,85359.0,85893.0,86416.0
4,110005 CEREJEIRAS,16936.0,16810.0,16689.0,16567.0,16444.0,16323.0,16204.0,16088.0
...,...,...,...,...,...,...,...,...,...
5565,522200 VIANOPOLIS,13264.0,13389.0,13510.0,13627.0,13746.0,13863.0,13977.0,14088.0
5566,522205 VICENTINOPOLIS,8064.0,8206.0,8344.0,8478.0,8613.0,8745.0,8875.0,9002.0
5567,522220 VILA BOA,5428.0,5583.0,5733.0,5879.0,6026.0,6171.0,6312.0,6451.0
5568,522230 VILA PROPICIO,5500.0,5567.0,5632.0,5695.0,5758.0,5821.0,5882.0,5941.0
5569,530010 BRASILIA,2808040.0,2850959.0,2892607.0,2933497.0,2974703.0,3015268.0,3055149.0,3094325.0

In [56]:
# Separar código do IBGE e nome do município em duas colunas

dados_pop['cod_ibge'] = dados_pop['municipio'].str.extract('(\d+)')
dados_pop['municipio'] = dados_pop['municipio'].str.extract('([A-Za-z\s\']+)')

dados_pop

,municipio,2014,2015,2016,2017,2018,2019,2020,2021,cod_ibge
0,ALTA FLORESTA D'OESTE,24066.0,23835.0,23614.0,23392.0,23167.0,22945.0,22728.0,22516.0,110001
1,ARIQUEMES,99278.0,101048.0,102744.0,104441.0,106168.0,107863.0,109523.0,111148.0,110002
2,CABIXI,5951.0,5819.0,5693.0,5567.0,5438.0,5312.0,5188.0,5067.0,110003
3,CACOAL,82595.0,83164.0,83710.0,84257.0,84813.0,85359.0,85893.0,86416.0,110004
4,CEREJEIRAS,16936.0,16810.0,16689.0,16567.0,16444.0,16323.0,16204.0,16088.0,110005
...,...,...,...,...,...,...,...,...,...,...
5565,VIANOPOLIS,13264.0,13389.0,13510.0,13627.0,13746.0,13863.0,13977.0,14088.0,522200
5566,VICENTINOPOLIS,8064.0,8206.0,8344.0,8478.0,8613.0,8745.0,8875.0,9002.0,522205
5567,VILA BOA,5428.0,5583.0,5733.0,5879.0,6026.0,6171.0,6312.0,6451.0,522220
5568,VILA PROPICIO,5500.0,5567.0,5632.0,5695.0,5758.0,5821.0,5882.0,5941.0,522230
5569,BRASILIA,2808040.0,2850959.0,2892607.0,2933497.0,2974703.0,3015268.0,3055149.0,3094325.0,530010

### mergindo pops com pop22

In [57]:
# juntando bases de população

merged_pops = pd.merge(dados_pop, pop22[['cod_ibge', '2022']],
                     on=['cod_ibge'], how='left')

merged_pops

,municipio,2014,2015,2016,2017,2018,2019,2020,2021,cod_ibge,2022
0,ALTA FLORESTA D'OESTE,24066.0,23835.0,23614.0,23392.0,23167.0,22945.0,22728.0,22516.0,110001,21558.0
1,ARIQUEMES,99278.0,101048.0,102744.0,104441.0,106168.0,107863.0,109523.0,111148.0,110002,100896.0
2,CABIXI,5951.0,5819.0,5693.0,5567.0,5438.0,5312.0,5188.0,5067.0,110003,5107.0
3,CACOAL,82595.0,83164.0,83710.0,84257.0,84813.0,85359.0,85893.0,86416.0,110004,92202.0
4,CEREJEIRAS,16936.0,16810.0,16689.0,16567.0,16444.0,16323.0,16204.0,16088.0,110005,15237.0
...,...,...,...,...,...,...,...,...,...,...,...
5565,VIANOPOLIS,13264.0,13389.0,13510.0,13627.0,13746.0,13863.0,13977.0,14088.0,522200,14046.0
5566,VICENTINOPOLIS,8064.0,8206.0,8344.0,8478.0,8613.0,8745.0,8875.0,9002.0,522205,8776.0
5567,VILA BOA,5428.0,5583.0,5733.0,5879.0,6026.0,6171.0,6312.0,6451.0,522220,3686.0
5568,VILA PROPICIO,5500.0,5567.0,5632.0,5695.0,5758.0,5821.0,5882.0,5941.0,522230,5646.0
5569,BRASILIA,2808040.0,2850959.0,2892607.0,2933497.0,2974703.0,3015268.0,3055149.0,3094325.0,530010,2923369.0

In [58]:
# formato longo da base, anos nas colunas se transformarão em linhas

merged_pops_longo = pd.melt(merged_pops, id_vars=['cod_ibge', 'municipio'],
                     var_name='ano', value_name='populacao')

merged_pops_longo

merged_pops_longo.to_excel('./dados_tratados/populacao.xlsx', index=False)  #salvar em excel

# JUNTANDO TODAS AS BASES PARA O DATASET FINAL

In [59]:
emendas = pd.read_excel('./dados_tratados/emendas_to_join.xlsx', engine='openpyxl')

emendas['ano'] = emendas['ano'].astype(str)
emendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ano            243 non-null    object
 1   uf             243 non-null    object
 2   valor_emendas  243 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.8+ KB

In [60]:
# juntando todas as bases numa só

merge = pd.merge(dados_valor, dados_mortalidade[['cod_ibge', 'ano', 'mortalidade']],
                     on=['cod_ibge', 'ano'], how='left')

merge = pd.merge(merge, dados_AIH[['cod_ibge', 'ano', 'aih_valor']],
                     on=['cod_ibge', 'ano'], how='left')

merge = pd.merge(merge, dados_dias[['cod_ibge', 'ano', 'dias']],
                     on=['cod_ibge', 'ano'], how='left')


merge = pd.merge(merge, merged_pops_longo[['cod_ibge', 'ano', 'populacao']],
                     on=['cod_ibge', 'ano'], how='left')


merge = pd.merge(merge, emendas, on=['ano', 'uf'], how='left')

merge['gastos_percapita'] = merge['gastos'] / merge['populacao']

merge.to_excel('./dados_tratados/base_completa.xlsx', index=False)  #salvar em excel

merge

,municipio,cod_ibge,cod_uf,uf,regiao,ano,gastos,mortalidade,aih_valor,dias,populacao,valor_emendas,gastos_percapita
0,ALTA FLORESTA D'OESTE,110001,11,RO,NORTE,2014,7.608883e+05,0.35,2296.0,5508.0,24066.0,3.181828e+07,31.616732
1,ARIQUEMES,110002,11,RO,NORTE,2014,3.463929e+06,2.57,5251.0,14364.0,99278.0,3.181828e+07,34.891200
2,CABIXI,110003,11,RO,NORTE,2014,8.940387e+04,NaN,282.0,646.0,5951.0,3.181828e+07,15.023336
3,CACOAL,110004,11,RO,NORTE,2014,7.392915e+06,3.59,10793.0,53025.0,82595.0,3.181828e+07,89.508017
4,CEREJEIRAS,110005,11,RO,NORTE,2014,4.911237e+05,0.37,1368.0,4154.0,16936.0,3.181828e+07,28.998798
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50125,VIANOPOLIS,522200,52,GO,CENTRO-OESTE,2022,2.859632e+05,1.44,975.0,3607.0,14046.0,1.156568e+08,20.359047
50126,VICENTINOPOLIS,522205,52,GO,CENTRO-OESTE,2022,1.212662e+05,2.33,258.0,545.0,8776.0,1.156568e+08,13.817932
50127,VILA BOA,522220,52,GO,CENTRO-OESTE,2022,NaN,NaN,NaN,NaN,3686.0,1.156568e+08,NaN
50128,VILA PROPICIO,522230,52,GO,CENTRO-OESTE,2022,NaN,NaN,NaN,NaN,5646.0,1.156568e+08,NaN
50129,BRASILIA,530010,53,DF,CENTRO-OESTE,2022,3.127588e+08,3.09,232063.0,1320261.0,2923369.0,8.252777e+07,106.985750

# Base para análise gráfica

In [61]:
merge.head(2)

,municipio,cod_ibge,cod_uf,uf,regiao,ano,gastos,mortalidade,aih_valor,dias,populacao,valor_emendas,gastos_percapita
0,ALTA FLORESTA D'OESTE,110001,11,RO,NORTE,2014,760888.27,0.35,2296.0,5508.0,24066.0,31818281.33,31.616732
1,ARIQUEMES,110002,11,RO,NORTE,2014,3463928.54,2.57,5251.0,14364.0,99278.0,31818281.33,34.891200

In [62]:
# agrupando dados por uf e ano

uf_ano = merge.groupby(['uf', 'ano']).agg({'gastos': 'sum', 'gastos_percapita': 'sum', 
                                           'mortalidade': 'mean', 
                                           'valor_emendas': 'sum'}).reset_index()

uf_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uf                243 non-null    object
 1   ano               243 non-null    object
 2   gastos            243 non-null    float64
 3   gastos_percapita  243 non-null    float64
 4   mortalidade       243 non-null    float64
 5   valor_emendas     243 non-null    float64
dtypes: float64(4), object(2)
memory usage: 11.5+ KB

In [ ]:
# salvando para análise gráfica

uf_ano.to_excel('./dados_para_dashboard/variaveis_uf_ano.xlsx', index=False)  #salvar em excel